body {
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
	padding: 0;
}

@page {
	size: A4;
	margin-top: 3cm;
	margin-bottom: 2cm;
	margin-left: 2cm;
	margin-right: 2cm;
	@top-center 	{
		content	:	element(header,	first)
	}

@bottom-center {
	content: element(footer)
}

}
.footer {
	position: running(footer);
}

.header {
	position: running(header);
}

.once {
	font-weight: bold;
}

}
//
End of page



.content {
	padding: 10px 0;
}

@media screen {
	.content {
		
	}
}

@media screen {
	.header {
		/*position: fixed;*/
		top: 0;
		width: 600px;
		background-color: #FFFFFF;
		margin-left: 0px;
		height: 100px;
		padding-left: 50px;
		padding-right: 50px;
		border-bottom-color: #c0c0c0;
		border-bottom-width: 6px;
		border-bottom-style: solid;
		margin-left: -53px;
	}
}

@media screen {
	.footer {
		background-color: #FFFFFF;
		position: fixed;
		bottom: 0;
		width: 600px;
		margin-left: 0px;
		height: 50px;
		padding-left: 50px;
		padding-right: 50px;
		border-top-color: #c0c0c0;
		border-top-width: 6px;
		border-top-style: solid;
		margin-left: -53px;
	}
}

.ftr-simple-grid {
	width: 100%;
	border: 1px solid #dcdcdc;
	border: 1px solid silver;
	border-collapse: collapse;
}

.ftr-simple-grid .tableheader {
	background-color: #F6F6F6;
}

.ftr-simple-grid .even {
	background-color: #FFC;
}

.ftr-simple-grid .uneven {
	background-color: #ffffff;
}

.ftr-simple-grid .green {
	background-color: #D1FAD8;
}

.ftr-simple-grid .orange {
	background-color: #fabf00;
}

.ftr-simple-grid .yellow {
	background-color: #FFC;
}

.ftr-simple-grid .blue {
	background-color: #D7ECFD;
}

.ftr-simple-grid .weekend {
	background-color: #F6F6F6;
}

.header .title {
	font-size: 26px;
	margin-top: 20px;
  	float: left;
}

.view-panel {
	padding: 6px;
}

.view-panel span {
	line-height: 18px;
}	

.reportTitle {
	padding-top: 20px;
	font-size: 18px;
}

.event16 {
	line-height: 22px;
	height: 22px;
	
}

.eventIcon16 {
	padding-top: 4px;
	
}	

.eventTime {
	padding: 0 6px 0 2px;
	vertical-align: middle;
}

.eventTitle {
	vertical-align: middle;
}

.eventComment {
	padding: 0;
	padding-top: 4px;
	padding-bottom: 12px;
}

.ftr-simple-grid td {
	border-top-style: solid;
	border-top-color: silver;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-color: silver;
	border-right-width: 1px;
	padding: 2px 3px;
}

.tickBox {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width :10px;
	height :10px;
}