.Button {
	background-color: #FFFFFF;
}

.ButtonImage {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
	cursor: pointer;
	cursor: hand;
	height: 128px;
	width: 128px;
}


.ButtonText {
	
	text-align: center;
	padding: 2px;
	height: 20px;
	width: 128px;
	padding: 2px;
}

.tborder {
	background-color: #FFFFFF;
	color: #000000;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.thead {
	background-color: #c3d9ff;
	border-bottom: 1px solid #666;
	color: #000000;
}