#page {
 	border: none;
	width: 100% ! important;
	margin: 0px;
	background: none;
	text-align: left;
}
#content, .middle, .col2, .col3, .mod2, .mod3 {
	border: none;
	width: auto ! important;
	overflow: visible;
	background: none;
}
.cnt {
	width: 95% ! important;
	overflow: visible ! important;
}
.mod2 .top, .mod3 .top {
	border-bottom: 1px solid black;
	color: black ! important;
	background: none ! important;
	width:100% ! important;
	text-align: left;
}
.col {
 	display:none;
}
#header, #navmain, #spotlight, #footer {
 	display: none;
}
* {
 	color: black ! important;
}
img {
	padding: 4px;
}
