body {
	margin: 0 0;
	padding: 0;
	font: 12px/18px Arial, Helvetica, Garuda, sans-serif;
	color: #333;
}

.btn_bg_128 {
	margin-top: 5px;
	margin-left: 5px;
	display: block;
	cursor: pointer;
	float: left;
	width: 151px;
	background-color: #f6f6f6;
	border: 1px solid #cacaca;
	color: #222;
	overflow: hidden;
	text-align: center;
	font-size: 12px;
}

.logo {
	max-width: 160px;
}

.title {
	text-align: center;
	font-size: larger;
	font-weight: bold;
	color: #5C5B5B;
}

.btn_bg_128 .btntxt {
	min-width: 90px;
}

#footer p {
	text-align: right;
}