body {
	color: #333;
}


#logo {
	margin-left: 28px;
	margin-top: 15px;
}

#content-wrapper {
	width: 500px;
    height: 100px;
    position: absolute;
    top:-100px;
    bottom: 0;
    left: 0;
    right: 0;
	
    margin: auto;
}

