@CHARSET "ISO-8859-1";

table td {
	border-color: #77f7c4;
	border-width: 1px;
	border-style: solid;
	min-height: 12px;
}

div {
	border-color: #f7c275;
	border-width: 1px;
	border-style: solid;
	
}

p {
	border-color: #75baf7;
	border-width: 1px;
	border-style: solid;
}

[if]:before {
	content: attr(if);
	float: right;
	background-color: #a8fd99;
}


div[repeat]:before, p[repeat]:before {
	content: attr(repeat);
	float: right;
	background-color: #DEDEDC;
}

tr[repeat]:after {
	content: attr(repeat);
	float: right;
	position: absolute;
	background-color: #DEDEDC;
}


.s {
	border-bottom: 1px solid #ededed;
}