body.printable {
	height: 842px;
	width: 645px;
	margin: 0 auto;	
	
	background-size: contain;
	background: url('/demo/demo/Printable.png') top repeat-y;	
    background-size: 800px 100%; 
	
}

.page-break {
	width: 800px;
	margin-left: -78px;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 6px;
	border-bottom-style: solid;
}

.page:after {
	width: 800px;
	margin-left: -78px;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	content: " ";
    display: block;
}

[repeat] {
	border-top-color: #DEDEDC;
	border-top-width: 3px;
	border-top-style: solid;
	border-bottom-color: #DEDEDC;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

[if] {
	background-color: #FFFF00;
}

.ee-macro {
	background-color: #DEDEDC;
}

div.ee-macro {
	display: inline-block;	
}
