body.printable {
	height: 842px;
	width: 645px;
	margin: 0 auto;	
	
	background-size: contain;
	background-color : #c0c0c0;
	
	
}

img {
	border-bottom-color: #c0c0c0;
	border-bottom-width: 6px;
	border-bottom-style: solid;
}


