






.temparature {
	background: url(images/Tempurature.png) center center
		no-repeat;
}







.whiteForDemo {
	background-color: #FFFFFF;
}

.ftrdemo-eventHeader {
	background-color: #2952a3;
	font-size: 9pt;
	color: #FFFFFF;
	overflow: hidden;
	text-align:right;
	
}

.ftrdemo-eventBody {
	height: 30px;
	background-color: #d0e4f6;
	overflow: hidden;
}

.ftrdemo-eventWholeDay {
	font-size: 9pt;
	overflow: hidden;
	background-color: #d0e4f6;
}

.ftrdemo-eventHeaderMonday {
	overflow: hidden;
	cursor: pointer;
	font-size: 9pt;
	background-color: #75f86a;
	color: #FFFFFF;
}

.ftrdemo-eventBodyMonday {
	overflow: hidden;
	background-color: #e50bc8;
}

.ftrdemo-eventWholeDayMonday {
	overflow: hidden;
	font-size: 9pt;
	background-color: #75f86a;
}

.ftrdemo-eventHeaderNormal {
	background-color: #2952a3;
	font-size: 9pt;
	color: #FFFFFF;
	height: 14px;
}

.ftrdemo-eventBodyNormal {
	height: 30px;
	background-color: #d0e4f6;
}

.ftrdemo-eventWholeDayNormal {
	font-size: 9pt;
	overflow: hidden;
	background-color: #d0e4f6;
}